
{% extends "common/base.html" %}
{% block title %}root_replica{% endblock %}

{% block meta_description %}
<meta name="description" content="歯牙移植用の3Dレプリカモデル製作サービス。CTデータから正確な歯根形状を再現し、自家歯牙移植の成功率を向上させます。短時間での移植と歯根膜の保護を実現。 / 3D dental replica service for tooth autotransplantation. Creates accurate root models from CT data to improve transplant success rates by reducing surgery time and protecting periodontal ligaments.">
<meta property="og:description" content="歯牙移植用の3Dレプリカモデル製作サービス。CTデータから正確な歯根形状を再現し、自家歯牙移植の成功率を向上させます。短時間での移植と歯根膜の保護を実現。 / 3D dental replica service for tooth autotransplantation. Creates accurate root models from CT data to improve transplant success rates by reducing surgery time and protecting periodontal ligaments.">
{% endblock %}

{% block content %}


<center>
<h1>歯牙製作 歯牙複製 歯牙造形サービス</h1>
<h1>自家歯牙移植のためのドナーレプリカ(3Dレプリカ)</h1>
<h1>移植歯シミュレーションモデル</h1>
<h1>CBCT画像(CTデータ)から歯牙歯根モデルの作製。</h1>


</font>

<img src="{{ url_for('static', filename='pages/root_replica/032.jpg') }}">

<h2>3Dレプリカ 1歯8500円</h2>
<h2>3Dレプリカ(造影剤有) 1歯9000円</h2>
<h2>移植歯比較シミュレーション5000円</h2>

<h2>ご質問等はお気軽にお電話ください<h2><a href = "tel:0489618151"><h2>Tel 048-961-8151</a></h2>

  <h2>CTデータをこちら弊社DoropBox↓↓に入れてください。データ確認後ご連絡いたします</h2>
  <div class="data_reception">
  
    <h2>  <A href="https://www.dropbox.com/request/QmjTpqLwGWYUNO7uN9dj"target="_blank">
      データ受付 CTデータ</h3></a>
  
  </div>

  <h3>郵送の場合は下記にお願いいたします</h3>
  <h3>〒343-0845 埼玉県越谷市南越谷4-9-6 新越谷プラザビル203</h3>
  <h2><a href = "tel:0489618151">Tel 048-961-8151</a></h2>
  <h3>E-mail shibuya8020@gmail.com</h3>

CTデータは大きすぎてメールで送れないので大容量ファイル転送サービスをご利用ください↓<br>

<a href="https://gigafile.nu/" target="_blank">
<b>ギガファイル便</b></a><p>

または郵送にてUSB、SDカードなどでデータをお送りください<br>

<div class="box6">
  <h2>【症例紹介】</h2>
  <h3>右下8番を左下6番に移植 造形剤有りのレプリカ使用</h3>

     <div class="box00">     
     <img src="{{ url_for('static', filename='pages/root_replica_case/case016.jpg') }}">
     <img src="{{ url_for('static', filename='pages/root_replica_case/case017.jpg') }}">
     </div>  

     <div class="box00">
     <img src="{{ url_for('static', filename='pages/root_replica_case/case018.jpg') }}">
     <img src="{{ url_for('static', filename='pages/root_replica_case/case019.jpg') }}">     
     </div>  

      <div class="box00">
      <img src="{{ url_for('static', filename='pages/root_replica_case/case020.jpg') }}">
      <img src="{{ url_for('static', filename='pages/root_replica_case/case021.jpg') }}">  
      </div>  
      
     <h3>【画像提供】<a href="https://kaedenomori-dc.jp/"target="_blank">
      熊本県合志市:楓の森歯科クリニック Dr.白濱義将</h3></a>     

</div>

  <div class="box001">
    <h2>自家歯牙移植の成功率を上げるには</h2>

     <ul>
      <li>抜歯と同時に植立する。移植歯抜歯後即時に移植床に植立する</li>
      <li>歯根周囲組織(歯根膜)を損傷しない</li>
      <li>若年者(40歳以下が望ましい、、が70歳で良好な症例を見たことがあります)</li>
      <li>移植歯に対して骨幅が適正であること</li>
    </ul>

    <h4>自家歯牙移植の成功率を上げる条件の一つに時間があります。抜歯した歯牙(移植歯)を歯槽骨(移植床)にいかに早く移植歯を損傷することなく植立することが重要です。3Dレプリカを使用することで即時に植立できるようになります。</h4>
    
    <h4>3Dレプリカを使用しない場合は移植歯を抜歯したのち歯槽骨に移植歯をあてがいながら移植床を形成することになり,そのため時間がかかり物理的にも移植歯(歯根膜)が損傷します。</h4>
    
    <h4>歯牙3Dレプリカ用いて歯の移植シミュレーションを行うことで移植前に歯牙の形状を把握し顎骨の削り方やかみ合わせを確認することができ、今までは移植歯の抜歯後にしか行えなかった作業が事前にできるようになります</h4>
    <h4>たとえば臨在歯が残っており深さは確保できるが近遠心的に狭い移植床だけれども移植歯を90度、180度回転させるとおさまりが良いなど事前にシミュレーションすることができます。</h4>
    <h4>自家歯牙移植、再植治療においては歯根周囲組織を損傷することなく歯根膜とくにマラッセの上皮遺残を温存することが大事。</h4>
    <h4>歯根未完成歯では根尖部にあるヘルトヴィッヒ上皮鞘があり歯髄の治癒に関係してくるので根尖部歯根周囲組織を損傷しないようにすることが大事</h4>
    </font>
  </div>



3Dレプリカとは移植歯の抜歯前に移植歯が入りやすくするために移植床を形成するためのレプリカです<br>
移植において最も大切な組織は「歯根膜」ですので移植する歯の「歯根膜」にダメージを与えないことが大事です<br>
レプリカを事前に準備しておくことで移植歯を抜歯し短時間で移植床に植立でき成功率を上げることができます。<br>
短時間で適切な深さ、隙間を空けて移植するためには正確なドナーレプリカ(3Dレプリカ)は欠かせません。<p>




<div class="box001">

  <b>自家歯牙移植の主な特徴</b><br>
  1 歯根膜感覚がある<br>
  2 歯根膜空壁があるので生理的な動揺がある。インプラントは無い<br>
  3 矯正治療など歯の移動が可能<br>
  4 天然歯と同様に顎骨の成長に対応できる<p>

  また、親不知、矯正治療などでで抜歯した歯牙を冷凍保存できる<a href="http://www.teethbank.jp/"target="_blank">歯の銀行(ティースバンク)</a>

  という機関があるので20年間以上保存できます<br>
  必要になった時に自家歯牙移植ができるようになります<p>

  <b>インプラント治療との違い</b><br>
  インプラントは人工の物ですが、歯牙移植は自分の歯です<br>
  インプラントの場合は歯根膜という緩衝材がなく骨に直接力がかかることになります<br>
  大きな違いはインプラントには無い歯根膜が有るので咬んだ感覚を自然に感じることができます<p>

  <b>「再植」と「移植」</b><br>
  「再植」とは外傷や事故などで抜けてしまった歯を再度歯を元の場所に戻すことをいいます。<br>
  「移植」とは、むし歯や歯周病などで失った歯のあったところに、違う歯を移すという方法です。自分の歯を利用する場合自家歯牙移植といいます。<br>
  もともと自分の歯ですから生体に対して優しく、歯の機能はもとのままで移植でき条件が合えばとても有効な方法です。<p>
  <center>
  <IMG SRC="root_replica/029.jpg"border="0"><br>
  </center>
 


</div>

<div class="box6">
  <h2>【症例紹介】</h2>
  <h3>左下8番を左下6番に移植</h3>

     <div class="box00">
     <img src="{{ url_for('static', filename='pages/root_replica/shirahama/001.jpg') }}">
     <img src="{{ url_for('static', filename='pages/root_replica/shirahama/002.jpg') }}">      
     </div>  

     <div class="box00">
     <img src="{{ url_for('static', filename='pages/root_replica/shirahama/003.jpg') }}">
     <img src="{{ url_for('static', filename='pages/root_replica/shirahama/004.jpg') }}">     
     </div>  

     <div class="box00">
      <img src="{{ url_for('static', filename='pages/root_replica/shirahama/005.jpg') }}">
      <img src="{{ url_for('static', filename='pages/root_replica/shirahama/006.jpg') }}">      
       </div>  

       <h3>【画像提供】<a href="https://kaedenomori-dc.jp/"target="_blank">熊本県合志市:楓の森歯科クリニック Dr.白濱義将</h3></a>

</div>


<div class="box6">
  <h2>【症例紹介】</h2>
  <h3>左下8番を左下6番に移植</h3>

     <div class="box00">
     <img src="{{ url_for('static', filename='pages/root_replica/shirahama/007.jpg') }}">
     <img src="{{ url_for('static', filename='pages/root_replica/shirahama/008.jpg') }}">    
     </div>  

     <div class="box00">
     <img src="{{ url_for('static', filename='pages/root_replica/shirahama/009.jpg') }}">
     <img src="{{ url_for('static', filename='pages/root_replica/shirahama/010.jpg') }}">     
     </div>  

     <h3>３週間後</h3>
     <div class="box00">
      <img src="{{ url_for('static', filename='pages/root_replica/shirahama/011.jpg') }}">
      <img src="{{ url_for('static', filename='pages/root_replica/shirahama/012.jpg') }}">       
      </div>  

     <h3>【画像提供】<a href="https://kaedenomori-dc.jp/"target="_blank">熊本県合志市:楓の森歯科クリニック Dr.白濱義将</h3></a>
     

</div>

<div class="box6">
  <h2>【症例紹介】</h2>

<h3>移植歯に合わせた移植床(移植先受容側部の窩洞)の形成をスムーズかつ正確にするため</h3>
<h3>事前にCTデーターから移植歯の形態をPMMA(レジン)に置き換えて準備しておきます</h3>
<h3>今回は8番の矮小歯を4番に移植したケースでドナーレプリカを作製しました</h3>
  
     <div class="box00">
      <img src="{{ url_for('static', filename='pages/root_replica/005.jpg') }}">     
     </div>  

     <div class="box00">
      <img src="{{ url_for('static', filename='pages/root_replica/034.jpg') }}">     
     </div>  
     <h3>移植歯を抜歯する前に歯牙3Dレプリカにて当たりを確認しながら移植床の形成を進めていく</h3>
     <div class="box00">
       <img src="{{ url_for('static', filename='pages/root_replica/008.jpg') }}"> 
     </div>  

     <div class="box00">
      <img src="{{ url_for('static', filename='pages/root_replica/009.jpg') }}">       
     </div>  

       
    <h3>【画像提供】<a href="https://www.yumoto-dc.com/"target="_blank">埼玉県さいたま市:歯内療法専門歯科 ユモトデンタルクリニック Dr.湯本 真幸</h3></a>



</div>





<div class="box6">
  <h2>【症例紹介】</h2>
  
     <div class="box00">
     <img src="{{ url_for('static', filename='pages/root_replica/020.jpg') }}"> 
     <img src="{{ url_for('static', filename='pages/root_replica/021.jpg') }}">     
     </div>  

     <div class="box00">
     <IMG SRC="root_replica/022.jpg">
     </div>  
     <h3>移植歯を抜歯する前に歯牙3Dレプリカにて当たりを確認しながら移植床の形成を進めていく</h3>
     <div class="box00">
     <img src="{{ url_for('static', filename='pages/root_replica/023.jpg') }}"> 
     <img src="{{ url_for('static', filename='pages/root_replica/024.jpg') }}">       
     </div>  

     <div class="box00">
     <img src="{{ url_for('static', filename='pages/root_replica/025.jpg') }}"> 
     <img src="{{ url_for('static', filename='pages/root_replica/025_01.jpg') }}">      
     </div>  

       

       <h3>【画像提供】<a href="https://www.yumoto-dc.com/"target="_blank">埼玉県さいたま市:歯内療法専門歯科 ユモトデンタルクリニック Dr.湯本 真幸</h3></a>


</div>


  <div class="box6">
    <h2>【症例紹介】</h2>
    <h3>【上下顎骨レプリカ、3Dプリント造形】</h3>
    
       <div class="box00">
        <img src="{{ url_for('static', filename='pages/root_replica/gaku004.jpg') }}">       
       </div>  
       <h3>自家歯牙移植用レプリカを使用した場合の移植シミュレーションをご提供致します</h3>
       <div class="box00">
        <img src="{{ url_for('static', filename='pages/root_replica/simulation001.jpg') }}">       
       </div>  
       <div class="box00">
        <img src="{{ url_for('static', filename='pages/root_replica/simulation002.jpg') }}">         
       </div>  
    
       <h3>【画像提供】<a href="https://www.yumoto-dc.com/"target="_blank">埼玉県さいたま市:歯内療法専門歯科 ユモトデンタルクリニック Dr.湯本 真幸</h3></a>
  
  
  </div>







<div class="box6">
  <A HREF="root_replica_case.html"target="_self"><h2>他の症例ページ</h2></a>



  <h3>※画像掲載について：先生と患者さまの許可をいただいております</h3>
</div>
  


making theeth
Transplantation simulation of artificial tooth root by using the 3D printing model<br>
autotransplantation of teeth with 3D printed surgical guides<br>
As a valuable method for restoring missing teeth, autotransplantation of teeth has been used in clinical practice for over 60 years<br>
Dental autotransplan<br>
autotransplantation<br>
3D donor replica root<br>




</center>

<p align="right">
<font size="4"font color="#ffffff">

<A HREF="../index.html"target="_top">
<b>渋谷歯科技工所</b></a></p></font>

<p align="right">
  <font size="4"font color="#ffffff">
  
  <A HREF="root_replica_en.html"target="_top">EN</a></font>

{% endblock %}

