{% extends "common/base.html" %}
{% block title %}会社情報{% endblock %}

{% block content %}

    <header id="page-header">
        <div class="container my-3 bg-light">
            <div class="row">
                <div class="col-md-6 m-auto text-center">
                    <h1>会社情報</h1>
                    <p>埼玉県越谷市にある歯科技工所です</p>
                </div>
            </div>
        </div>
    </header>  

    <section id="company_info">
        <div class="container py-3 bg-dark text-light">
            <h2>会社概要</h2>
            <p>社名：渋谷歯科技工所</p>
            <p>設立：2002年4月1日</p>            
            <p>本社：〒343-0845 埼玉県越谷市南越谷4-9-6 新越谷プラザビル203</p>
            <p>TEL：048-961-8151</p>            
            <p>代表：渋谷 正彦</p>
        </div>
    </section>

{% endblock %}